body{
    background-color: darkseagreen;
    flex-direction: column;

}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
.label{
    flex-direction: column;
    margin-top: -80vh;
}
#Titulo{
    font-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pangolin', cursive;
}
.botao{
    position: absolute;
    color: darkseagreen;
    background-color: rgb(76, 95, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    

    margin-top: 5vh;
    color: darkseagreen;
    text-transform: uppercase;
    font-weight: bold;
    width: 50vh;
    padding: 8px 2px;
    border: none;
    outline: none;
    left: 75vh;
}


